.field{
    display: flex; 
    flex-direction: column; 
}

.button {
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    background-color: rgb(115, 99, 180);
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.label {
    font-size: 20px;
}

.complete {
    background-color: rgb(115, 99, 180);;
}